$dark-color: #202124;
$grey-color:#5f6368;
$blue : #1B66C9;

$google-font: "Google Sans",
"Noto Sans Myanmar UI",
arial,
sans-serif;
$roboto-font: roboto,
'Noto Sans Myanmar UI',
arial,
sans-serif;

$border: 1px solid #dadce0;
$radius-8: 8px;
$radius-4:4px;